<!-- home.html -->
    <div class="jumbotron text-center">
        <h1>Team FHIRBall</h1>

        <p>{{ message }}</p>
    </div>

    <div class="container">
        <h2 style="text-align: center">"We want to recognize patterns & trends for conditions based on demographical and geographical factors"
        </h2>
        <br>
        <h3>The purpose of this app is to pull and present the demographic and geographic data for existing conditions
        and its patients, in order to offer insight to the factors that may contribute to the
        cause and/or symptoms of these existing conditions.</h3>
        This application was built using HTML, CSS, and AngularJS.
        <br>
    </div>
