<!-- list.html -->

    <div class="page-header text-center">
        <h1>Available Conditions</h1>
        <!--<p>{{ message }}</p>-->
    </div>

    <div class="container">
        <h1>Conditions List</h1>
        <div align="left" style="vertical-align:bottom">
            <table>
                <tr ng-repeat="x in list | orderBy:'toString()' track by $index" >
                    <td> <button type="button" style="width:350px"> {{ x }} </button> </td>
                </tr>
            </table>
        </div>
    </div><!-- /container -->