<!-- about.html -->
    <div class="jumbotron text-center">
        <h1>About Us</h1>
        <!--<p>{{ message }}</p>-->
    </div>

<div class="container">
    <div class="infoWindowContent">
        <h2>Team Members</h2>
        <ul>
            <br>
            <li>Abhinav Khanna</li>
            <li>Daniel Bernal</li>
            <li>Heonkook Kim</li>
            <li>Nicholas Kefauver</li>
            <li>Thomas Mapesa</li>
        </ul>
    </div>

    <div class="infoWindowContent">
        <h2>Application Goals</h2>
        <ul>
            <h3>Reactive Mode</h3>
            <li>User can select condition and collect/analyze data</li>
            <li>By Geographical Region or City</li>
            <li>By Gender</li>
            <li>By Age Range</li>

            <h3>Proactive Mode</h3>
            <li>Connect patients for guidance</li>
            <li>Help general population to prevent diseases/outbreak</li>
            <li>Help governing facilities to enhance local health awareness</li>
        </ul>
    </div>
</div>